Port 22
Protocol 2
SyslogFacility AUTH
LogLevel INFO
LoginGraceTime 60
PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no
Compression yes
KeepAlive yes
ClientAliveInterval 30
ClientAliveCountMax 4
Subsystem sftp /usr/lib/openssh/sftp-server
AllowUsers ALLOW_USERS
